 *{
   font-family:'Roboto', sans-serif;
   margin:0;
   box-sizing: border-box;
} 
.header{
    background-color:#212934 ;
    height:38px;
    color:#cfd6e1;
    margin:0;
    display:flex;
    justify-content: space-between;
}
.header-left{
  padding:10px;
  padding-left:140px;
  margin:0;
  display:flex;
  gap:13px;
  font-size: 12px;
}
.header-right{
    padding:10px;
    display:flex; 
    gap:13px;
   padding-right:110px;
}

.nav{
    display:flex;
 height:60px;
    width:100%;
}
#zay{
    color:#59ab6e;
    font-size:50px;  
    font-weight:525;
    padding:10px;
    padding-left:140px;
}
.nav a{
    text-decoration: none;
    color:#212934;
}
.nav a :hover{
    color: #59ab6e;
}
.nav p{
    padding:35px;  
}
.nav-icons{
    padding-right:20px;
}
.icons{
    /* padding:290px; */
    padding-top:35px;
     padding-right:40px;   
     padding-left:305px;
}

.image-slider{
    margin-top:23px;
    background-color:#efefef;
    height: 500px;
    justify-content: center;
    align-items: center;
    position:relative; 
    overflow: hidden;
    transition: 0.5s ease;
}
.slide-1-img img{
   width:500px;
   margin-left:120px; 
  
}

.slide-1{
    display:flex;
    align-items: center;
    justify-content: center;

}

.prev, .next {
    cursor: pointer;
     position: absolute; 
     top: 50%; 
    width: auto;
    padding: 16px;
    /* padding-top: 15px;  */
    color: rgb(121, 115, 115);
    font-weight: bold;
    font-size: 48px;
  }
  .next {
    right: 0;
    }

.dots{
position:absolute;
bottom:15px; 
width:100%;
text-align:center;
/* padding-top:40%; */
margin-bottom: 3%;
  }
  .dot{
    cursor:pointer;
    height:3px;
    width:30px;
    display:inline-block;
    background-color: rgb(141, 139, 139);
    border-radius: 90px;
  }
    .dot:hover{
        background-color: #59ab6e;
    }

    .prev, .next:hover{
    color: #59ab6e;
    } 

.description{
    align-items: center;
    margin-left:140px;
    color:rgba(43, 37, 37, 0.863);
    justify-content: center; 
    font-size:17px;
    line-height: 1.2;
}

.heading-1{
    font-family:'Roboto', sans-serif;
    font-weight: 200;
    color:#59ab6e;
    font-size: 48px;
}
.heading-2{
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    margin-top:5px;
}
.para{
    margin-top:8px;
    line-height: 1.1;
    font-weight: normal;
}
.items{
    display: flex;
     margin-top: 40px; 
   text-align:center ;
   margin-left:8%; 
   padding-right: 30px;;
}
.button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #59ab6e;
    color: white;
    border: none;
     border-radius: 3px; 
    cursor: pointer;
}
.button:hover {
    background-color: #59ab6e;}
.watch img{
    border-radius: 50%;
    width:70%;
    /* justify-items: center; */
}
.watch h3{
    padding-top: 10px;
}
.feat-pro{
    margin-top:90px;
    text-align:center;
    padding-top: 80px;
    font-size:40px;
}
.feat-pro-sub{
    text-align:center;
    padding-top: 6px;
    font-size: 17px;
}
.f-products-container{
    background-color: #e9eef5;
    /* font-family:'Roboto', sans-serif; */
   
}
.feat-prods img{
  width:300px;
  height:250px;
  
   
}
.feat-prods-cards{
        display: flex;
        /* justify-content: space-between; */
        flex-wrap: nowrap;
        gap: 20px;
        margin: 20px;
        margin-left:200px;
        padding-bottom: 82px;
    }
   
    .feat-prods {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        width: 300px; 
      
    }
    
    .card-body{
        height:220px;
        padding: 20px;
        /* padding-bottom: 20px; */
    }
    .stars{
        color: gold;
    }
    .card-price{
       float:right;
       padding-top:2px;
       color:black;
       padding-bottom: 8px;
    }
    .reviews{
        padding-top: 15px;
    }

.footer{
    background-color: #212934;
    width:100%;
    height:auto;
     color:white;  
    display: flex;
    /* justify-content: space-around;  */
    gap:60px;
}
.furter-info-contnts{
    padding-top: 5px;
}

.footer-1{
    padding-top: 30px;
    

}
.f1{
    padding-left:60px;
    gap:40px;
    justify-content: space-between;
}

.footer-2{
    background-color:#212934; 
      color: #fff;  
    padding:40px;
    justify-items: space-between;
    padding-left:70px;
}

.footer-2 button{
    float:right;
}
.input{
    float:right;
    background-color: #212934;
    border:none;
}
.input:hover{
    border: solid 2px rgb(26, 26, 151);
}
.input:focus{
    border: solid 2px rgb(26, 26, 151);
}
.footer-2 button{
    background-color: #59ab6e;
     color:white;  
    width:100px;
    height:35px;
}


    .footer-last{
        background-color: #1d242d;
        width:100%;
        height:83px;
        padding-top:32px;
        padding-left:90px;
         color:#cfd6e1;  
    }

    .footer-last span{
        text-decoration: underline;
    }

    /* .divider{
        color:#212934;
    }
     */

     .header-right a{
        color:white;
     }
      